<div
  *ngFor="let list of lists; let i = index"
  class="list"
>
  <div
    contenteditable
    (focusout)="updateListTitle($event,i)"
  >{{ list.title }}</div>
  <div
    *ngFor="let card of list.cards; let j = index"
    contenteditable
    (focusout)="updateCard($event,i,j)"
  >{{ card }}</div>
  <div
    (click)="addCard(i)"
  >Add Card</div>
</div>

<div
  class="list add"
  (click)="addList()"
>
  Add List
</div>

<p
  *ngIf="bgImgData"
  class="credit"
>
  Photo by <a [href]="unsplash.unsplashUrl + '@' + bgImgData.user.username + unsplash.query">{{bgImgData.user.name}}</a> on <a [href]="unsplash.unsplashUrl + unsplash.query">Unsplash</a>
</p>
