/* You can add global styles to this file, and also import other style files */
html {
  overflow: hidden;
  height: 100%;
}

body {
  height: 100%;
  overflow: auto;
  margin: 0;
  display: flex;
}

.list {
  width: 250px;
  margin: 50px 25px;
  background-color: hsla(0, 0%, 80%, 0.8);
  border-radius: 2px;
  box-shadow: 2px 2px 5px 1px hsla(0, 0%, 0%, 0.2);
}
